@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 10%;
    background-color: #24252A;
}

.logo{
    cursor: pointer;
    width: 50px;
}

.nav_links{
    list-style: none;
    display: flex;
}

.nav_links li {
    padding: 0px 20px;
}

button{
    font-family: "Montserrant", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.nav_links li a {
    font-family: "Montserrant", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}




.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
  }
  .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
  }

  .up{
      background-color: #c57d10;
  }

  .imgn{
      width: 40px;
      height: 40px;
  }

 /* BOTOM   */
 .detalles-pedido button{
     position: relative;
     padding: 0px 60px;
     display: flex;
     justify-content: center;
     align-items: center;
     background: rgba(0, 0, 0, 0.5);
     margin-left: 25%;
     text-decoration: none;
     transition: 1s;
     border-radius: 4px;
     overflow: hidden;
 }
 .detalles-pedido button::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 400px;
    background: var(--clr);
    animation: animate 3s linear infinite;
    animation-delay: calc(0.33s * var(--1));
}


 .detalles-pedido button:hover{
     background: var(--clr);
     box-shadow: 0 0 10px var(--clr),
                 0 0 30px var(--clr),
                 0 0 60px var(--clr),
                 0 0 100px var(--clr) ;

        
 }


 .detalles-pedido button:hover::before{
     width: 120%;

 }

 @keyframes animate{
     0%{
         transform: rotate(0deg);
     }
     100%{
         transform: rotate(360deg);
     }

 }

 .detalles-pedido button::after{
     content: '';
     position: absolute;
     inset: 2px;
     background: #D7A86E;
 }

